  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFA500;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    width: 98%;
    border-radius: 5px;
    padding: 3px;
    margin: auto auto;
  }

  .search-input {
    flex: 1;
    margin-right: 3px;
    border-radius: 5px;
    border: 2px solid #FFA500; /* 橙色实线边框，宽度为2px */
    height: 60px;
    padding: 12px;
    font-size:25px !important;
  }

  .search-button {
    background-color: #00247d !important;
    border-radius: 5px !important;
    height: 60px !important;
    width: 100px !important;
    font-size: 18px !important;
    font-weight: bold !important;
  }