.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFA500;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  height: 60px;
  width: 98%;
  border-radius: 5px;
  margin: auto;
}

.search-input {
  flex: 1; /* 每个输入框的宽度相同 */
  border-radius: 5px;
  font-size: 25px !important;
}

.search-input-wrapper {
  position: relative;
  flex: 1; /* 使搜索输入框具有相同的宽度 */
  padding: 3px;
  display: flex; /* 使用flexbox布局 */
  flex-direction: column; /* 子元素垂直排列 */
  align-items: flex-start;
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 16%;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.custom-range-picker {
  position: absolute;
  left: 0;
  z-index: 1000; /* 设置较高的 z-index，防止被其他元素遮挡 */
  width: auto; /* 自动适应内容宽度 */
  border-radius: 4px; /* 增加边框圆角 */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* 添加阴影 */
}

.search-button {
  background-color: #00247d !important;
  border-radius: 5px !important;
  height: 90% !important;
  width: 8% !important;
  font-size: 18px !important;
  font-weight: bold !important;
  margin: 0 2px;
}
