.outer {
    margin-top: 2px;
    margin-bottom: 3%;
    height: auto; /* 保持卡片的固定高度 */
    font-family: 'Josefin Sans', sans-serif;
}


.inner_large {
    width: 98%;
    border-radius: 8px !important;
    font-size: large;
    transform: translateZ(0); /* 确保3D效果正确应用 */
	transition: transform 0.25s ease-out; /* 控制 transform 属性的过渡效果 */
}

.inner_large:hover {
	transform: scale(1.05); /* 鼠标悬停时，放大元素 */
}

.inner_small {
    width: 96%;
    border-radius: 8px !important;
    margin-left: 4%;
    transform: translateZ(0); /* 确保3D效果正确应用 */
	transition: transform 0.25s ease-out; /* 控制 transform 属性的过渡效果 */
}

.inner_small:hover {
	transform: scale(1.05); /* 鼠标悬停时，放大元素 */
}

.image_large {
    margin-bottom: 3%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.image_small {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}