.outer {
    margin-top: 2px;
    margin-bottom: 3%;
    height: auto; /* 保持卡片的固定高度 */
    font-family: 'Josefin Sans', sans-serif;
}


.inner_large {
    width: 98%;
    font-size: large;
}

.inner_small {
    width: 96%;
    margin-left: 4%;
}

.image_large {
    margin-bottom: 3%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image_small {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}