.smallImage {
    width: 160px; 
    height: 60px; 
    object-fit: cover; 
    margin: 0 auto; /* 图片居中 */
    display: block; /* 确保图片是块级元素，能居中 */
}

.additionalImages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* 图片之间的间距 */
    justify-content: center; 
    margin-top: 20px;
}

.imageDescription {
    margin-top: 5px;
    font-size: 18px;
    color: #333;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
}

.recommendedSection {
    margin-top: 40px;
    text-align: left; 
    padding-left: 20px; 
}

.recommendedSection h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


