.offerCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative; /* 使内部元素可以使用绝对定位 */
  height: 150px; /* 保持卡片的固定高度 */
  width: 98%;
  display: flex;
  align-items: flex-start; /* 子元素从上方开始布局 */
  justify-content: space-between; /* 子元素水平布局，可以灵活调整 */
}

.offerInfo {
  position: relative; /* 保持相对定位 */
  width: 100%;
  height: 100%;
  display: flex;
}

.textContainer {
  position: relative; /* 保持相对定位，确保内容显示在图片上方 */
  width: 100%;
  z-index: 2; /* 确保文本在图片之上 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 内容从顶部开始对齐 */
}

.offerText {
  position: absolute;
  margin: 2%;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1; /* 设置为较低的层级，作为背景 */
}

.offerButton {
  position: absolute;
  bottom: 10px; /* 使按钮靠近Offer Card的左下角 */
  left: 10px;
  z-index: 2; /* 确保按钮位于图片和文本上方 */
  pointer-events: auto; /* 确保按钮可以点击 */
}